/*-- scss:defaults --*/

/*-- scss:rules --*/

section#sec-preface h1, section#sec-preface h2 {
    display: none;
}

.sidebar-menu-container .sidebar-item:nth-of-type(1) {
    display: none;
} 

#title-block-header .author-title, 
#title-block-header .date-title, 
#title-block-header .subject-info .subject-info-title {
    font-size: small;
    text-transform: uppercase;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.quarto-light #title-block-header .author-title, 
.quarto-light #title-block-header .date-title, 
.quarto-light #title-block-header .subject-info .subject-info-title {
    color: hsl(0, 0%, 35%); // div.sidebar-item-container
}

.quarto-dark #title-block-header .author-title, 
.quarto-dark #title-block-header .date-title, 
.quarto-dark #title-block-header .subject-info .subject-info-title{
    color: hsl(0, 0%, 67.9333333333%); // div.sidebar-item-container
}

#title-block-header  p:not(.subject-info-title):not(.author-title) {
    margin-bottom: 0.2rem;
    margin-left: 0.5rem;
}

.quarto-cover-image {
    max-width: 640px;
    width: 80%;
    float: none;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
}
    

h1 code:not(.sourceCode),
h2 code:not(.sourceCode),
h3 code:not(.sourceCode),
p code:not(.sourceCode), 
li code:not(.sourceCode), 
td code:not(.sourceCode),
figcaption code:not(.sourceCode) {
    background-color: rgba(0, 0, 0, 0);
}

.quarto-dark h1 code:not(.sourceCode),
.quarto-dark h2 code:not(.sourceCode),
.quarto-dark h3 code:not(.sourceCode),
.quarto-dark p code:not(.sourceCode), 
.quarto-dark li code:not(.sourceCode), 
.quarto-dark td code:not(.sourceCode),
.quarto-dark figcaption code:not(.sourceCode) {
    color: #C080D8;
}
